* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1a1a;
  min-height: 100vh;
  padding: 20px;
  color: #e0e0e0;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Randomized icon orders for each row */
  /* Row 1: martini, highball, rocks, coupe, hurricane, copo, julep, flute */
  /* Row 2: rocks, hurricane, martini, julep, coupe, flute, highball, copo */
  /* Row 3: coupe, julep, copo, martini, highball, rocks, flute, hurricane */
  /* Row 4: flute, copo, hurricane, highball, julep, martini, rocks, coupe */
  /* Row 5: highball, martini, flute, rocks, copo, hurricane, coupe, julep */
  /* Row 6: julep, rocks, highball, copo, martini, flute, hurricane, coupe */
  /* Row 7: hurricane, flute, coupe, julep, copo, highball, martini, rocks */
  /* Row 8: copo, coupe, julep, rocks, flute, martini, hurricane, highball */
  
  background-image: 
    /* Horizontal repeat 1 (x=0) - All 8 rows */
    url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'), url('/hurricane_icon.png'), url('/copo_icon.png'), url('/julep_icon.png'), url('/flute_icon.png'),
    url('/rocks_icon.png'), url('/hurricane_icon.png'), url('/martini_icon.png'), url('/julep_icon.png'), url('/coupe_icon.png'), url('/flute_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'),
    url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'),
    url('/flute_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'), url('/julep_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'),
    url('/highball_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/rocks_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'),
    url('/julep_icon.png'), url('/rocks_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'),
    url('/hurricane_icon.png'), url('/flute_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/highball_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'),
    url('/copo_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/martini_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'),
    /* Horizontal repeat 2 (x=960px) - All 8 rows */
    url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'), url('/hurricane_icon.png'), url('/copo_icon.png'), url('/julep_icon.png'), url('/flute_icon.png'),
    url('/rocks_icon.png'), url('/hurricane_icon.png'), url('/martini_icon.png'), url('/julep_icon.png'), url('/coupe_icon.png'), url('/flute_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'),
    url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'),
    url('/flute_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'), url('/julep_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'),
    url('/highball_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/rocks_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'),
    url('/julep_icon.png'), url('/rocks_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'),
    url('/hurricane_icon.png'), url('/flute_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/highball_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'),
    url('/copo_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/martini_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'),
    /* Horizontal repeat 3 (x=1920px) - All 8 rows */
    url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'), url('/hurricane_icon.png'), url('/copo_icon.png'), url('/julep_icon.png'), url('/flute_icon.png'),
    url('/rocks_icon.png'), url('/hurricane_icon.png'), url('/martini_icon.png'), url('/julep_icon.png'), url('/coupe_icon.png'), url('/flute_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'),
    url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'),
    url('/flute_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'), url('/julep_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'),
    url('/highball_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/rocks_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'),
    url('/julep_icon.png'), url('/rocks_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'),
    url('/hurricane_icon.png'), url('/flute_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/highball_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'),
    url('/copo_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/martini_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'),
    /* Horizontal repeat 4 (x=2880px) - All 8 rows */
    url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'), url('/hurricane_icon.png'), url('/copo_icon.png'), url('/julep_icon.png'), url('/flute_icon.png'),
    url('/rocks_icon.png'), url('/hurricane_icon.png'), url('/martini_icon.png'), url('/julep_icon.png'), url('/coupe_icon.png'), url('/flute_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'),
    url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'),
    url('/flute_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'), url('/julep_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'),
    url('/highball_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/rocks_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'),
    url('/julep_icon.png'), url('/rocks_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'),
    url('/hurricane_icon.png'), url('/flute_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/highball_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'),
    url('/copo_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/martini_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'),
    /* Horizontal repeat 5 (x=3840px) - All 8 rows */
    url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'), url('/hurricane_icon.png'), url('/copo_icon.png'), url('/julep_icon.png'), url('/flute_icon.png'),
    url('/rocks_icon.png'), url('/hurricane_icon.png'), url('/martini_icon.png'), url('/julep_icon.png'), url('/coupe_icon.png'), url('/flute_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'),
    url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/highball_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'),
    url('/flute_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png'), url('/julep_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'), url('/coupe_icon.png'),
    url('/highball_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/rocks_icon.png'), url('/copo_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'),
    url('/julep_icon.png'), url('/rocks_icon.png'), url('/highball_icon.png'), url('/copo_icon.png'), url('/martini_icon.png'), url('/flute_icon.png'), url('/hurricane_icon.png'), url('/coupe_icon.png'),
    url('/hurricane_icon.png'), url('/flute_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/copo_icon.png'), url('/highball_icon.png'), url('/martini_icon.png'), url('/rocks_icon.png'),
    url('/copo_icon.png'), url('/coupe_icon.png'), url('/julep_icon.png'), url('/rocks_icon.png'), url('/flute_icon.png'), url('/martini_icon.png'), url('/hurricane_icon.png'), url('/highball_icon.png');
  
  background-size: 60px 60px;
  background-position:
    /* Horizontal repeat 1 (x=0) - All 8 rows */
    0 0, 120px 0, 240px 0, 360px 0, 480px 0, 600px 0, 720px 0, 840px 0,
    60px 120px, 180px 120px, 300px 120px, 420px 120px, 540px 120px, 660px 120px, 780px 120px, 900px 120px,
    0 240px, 120px 240px, 240px 240px, 360px 240px, 480px 240px, 600px 240px, 720px 240px, 840px 240px,
    60px 360px, 180px 360px, 300px 360px, 420px 360px, 540px 360px, 660px 360px, 780px 360px, 900px 360px,
    0 480px, 120px 480px, 240px 480px, 360px 480px, 480px 480px, 600px 480px, 720px 480px, 840px 480px,
    60px 600px, 180px 600px, 300px 600px, 420px 600px, 540px 600px, 660px 600px, 780px 600px, 900px 600px,
    0 720px, 120px 720px, 240px 720px, 360px 720px, 480px 720px, 600px 720px, 720px 720px, 840px 720px,
    60px 840px, 180px 840px, 300px 840px, 420px 840px, 540px 840px, 660px 840px, 780px 840px, 900px 840px,
    /* Horizontal repeat 2 (x=960px) - All 8 rows */
    960px 0, 1080px 0, 1200px 0, 1320px 0, 1440px 0, 1560px 0, 1680px 0, 1800px 0,
    1020px 120px, 1140px 120px, 1260px 120px, 1380px 120px, 1500px 120px, 1620px 120px, 1740px 120px, 1860px 120px,
    960px 240px, 1080px 240px, 1200px 240px, 1320px 240px, 1440px 240px, 1560px 240px, 1680px 240px, 1800px 240px,
    1020px 360px, 1140px 360px, 1260px 360px, 1380px 360px, 1500px 360px, 1620px 360px, 1740px 360px, 1860px 360px,
    960px 480px, 1080px 480px, 1200px 480px, 1320px 480px, 1440px 480px, 1560px 480px, 1680px 480px, 1800px 480px,
    1020px 600px, 1140px 600px, 1260px 600px, 1380px 600px, 1500px 600px, 1620px 600px, 1740px 600px, 1860px 600px,
    960px 720px, 1080px 720px, 1200px 720px, 1320px 720px, 1440px 720px, 1560px 720px, 1680px 720px, 1800px 720px,
    1020px 840px, 1140px 840px, 1260px 840px, 1380px 840px, 1500px 840px, 1620px 840px, 1740px 840px, 1860px 840px,
    /* Horizontal repeat 3 (x=1920px) - All 8 rows */
    1920px 0, 2040px 0, 2160px 0, 2280px 0, 2400px 0, 2520px 0, 2640px 0, 2760px 0,
    1980px 120px, 2100px 120px, 2220px 120px, 2340px 120px, 2460px 120px, 2580px 120px, 2700px 120px, 2820px 120px,
    1920px 240px, 2040px 240px, 2160px 240px, 2280px 240px, 2400px 240px, 2520px 240px, 2640px 240px, 2760px 240px,
    1980px 360px, 2100px 360px, 2220px 360px, 2340px 360px, 2460px 360px, 2580px 360px, 2700px 360px, 2820px 360px,
    1920px 480px, 2040px 480px, 2160px 480px, 2280px 480px, 2400px 480px, 2520px 480px, 2640px 480px, 2760px 480px,
    1980px 600px, 2100px 600px, 2220px 600px, 2340px 600px, 2460px 600px, 2580px 600px, 2700px 600px, 2820px 600px,
    1920px 720px, 2040px 720px, 2160px 720px, 2280px 720px, 2400px 720px, 2520px 720px, 2640px 720px, 2760px 720px,
    1980px 840px, 2100px 840px, 2220px 840px, 2340px 840px, 2460px 840px, 2580px 840px, 2700px 840px, 2820px 840px,
    /* Horizontal repeat 4 (x=2880px) - All 8 rows */
    2880px 0, 3000px 0, 3120px 0, 3240px 0, 3360px 0, 3480px 0, 3600px 0, 3720px 0,
    2940px 120px, 3060px 120px, 3180px 120px, 3300px 120px, 3420px 120px, 3540px 120px, 3660px 120px, 3780px 120px,
    2880px 240px, 3000px 240px, 3120px 240px, 3240px 240px, 3360px 240px, 3480px 240px, 3600px 240px, 3720px 240px,
    2940px 360px, 3060px 360px, 3180px 360px, 3300px 360px, 3420px 360px, 3540px 360px, 3660px 360px, 3780px 360px,
    2880px 480px, 3000px 480px, 3120px 480px, 3240px 480px, 3360px 480px, 3480px 480px, 3600px 480px, 3720px 480px,
    2940px 600px, 3060px 600px, 3180px 600px, 3300px 600px, 3420px 600px, 3540px 600px, 3660px 600px, 3780px 600px,
    2880px 720px, 3000px 720px, 3120px 720px, 3240px 720px, 3360px 720px, 3480px 720px, 3600px 720px, 3720px 720px,
    2940px 840px, 3060px 840px, 3180px 840px, 3300px 840px, 3420px 840px, 3540px 840px, 3660px 840px, 3780px 840px,
    /* Horizontal repeat 5 (x=3840px) - All 8 rows */
    3840px 0, 3960px 0, 4080px 0, 4200px 0, 4320px 0, 4440px 0, 4560px 0, 4680px 0,
    3900px 120px, 4020px 120px, 4140px 120px, 4260px 120px, 4380px 120px, 4500px 120px, 4620px 120px, 4740px 120px,
    3840px 240px, 3960px 240px, 4080px 240px, 4200px 240px, 4320px 240px, 4440px 240px, 4560px 240px, 4680px 240px,
    3900px 360px, 4020px 360px, 4140px 360px, 4260px 360px, 4380px 360px, 4500px 360px, 4620px 360px, 4740px 360px,
    3840px 480px, 3960px 480px, 4080px 480px, 4200px 480px, 4320px 480px, 4440px 480px, 4560px 480px, 4680px 480px,
    3900px 600px, 4020px 600px, 4140px 600px, 4260px 600px, 4380px 600px, 4500px 600px, 4620px 600px, 4740px 600px,
    3840px 720px, 3960px 720px, 4080px 720px, 4200px 720px, 4320px 720px, 4440px 720px, 4560px 720px, 4680px 720px,
    3900px 840px, 4020px 840px, 4140px 840px, 4260px 840px, 4380px 840px, 4500px 840px, 4620px 840px, 4740px 840px;
  background-repeat: no-repeat;
  opacity: 0.1;
  filter: brightness(0) saturate(100%) invert(73%) sepia(98%) saturate(1352%) hue-rotate(88deg) brightness(119%) contrast(119%);
  pointer-events: none;
  z-index: 0;
}

/* Prevent horizontal scroll on mobile */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

@media (max-width: 640px) {
  body {
    padding: 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
